
body{
    background-color: black;

}


.navbar{
    
    display: flex;
    align-items: center;
    padding: 20px;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style: none;

}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: white;
}

p{
    color: white;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
h1{
    color: white;
    font-family: 'Alkatra', cursive;
font-family: 'Bebas Neue', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Fasthand', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Raleway', sans-serif;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: red;
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius:  30px;
    transition: background 0.5s;
}
.btn:hover{
    background: #563434;
}
.header .row{
    margin-top: 100px;
}